@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); /*Font: Montserrat*/

.App {
  text-align: center;
}

body {
  background-image: radial-gradient(circle, white, #FFF6EB, #D0E4F7);
  background-size: cover; /* Ensure the gradient covers the whole page */
  background-repeat: no-repeat; /* Prevent the gradient from repeating */
  color: black; /* Optional: Changes text color for better visibility */
  margin: 0;
  padding: 0px;
  font-family: 'Montserrat', serif
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header { /*for the home page*/
  display: flex;
  flex-direction: column; /* Ensure vertical alignment */
  align-items: flex-start; /* Align items to the start by default */
  margin-right: 40px; /* Move the content to the right */
  margin-top: 10px; 
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
